In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\downloads\anaconda\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\asus\downloads\anaconda\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\downloads\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\downloads\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\downloads\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
pop = pd.read_csv('Vehicle_Population.csv')
pop2  = pop[(pop['Fuel Type'] =='Electric') & (pop['Make'] == 'Tesla')]
pop2

       Data Year        County Fuel Type   Make     Model  Number of Vehicles
2           2010       Alameda  Electric  Tesla  Roadster                  17
37          2010  Contra Costa  Electric  Tesla  Roadster                  10
55          2010        Fresno  Electric  Tesla  Roadster                   2
68          2010      Humboldt  Electric  Tesla  Roadster                   1
87          2010          Kern  Electric  Tesla  Roadster                   1
...          ...           ...       ...    ...       ...                 ...
21780       2021          Yolo  Electric  Tesla  Roadster                   3
21851       2021          Yuba  Electric  Tesla   Model 3                 103
21852       2021          Yuba  Electric  Tesla   Model S                  19
21853       2021          Yuba  Electric  Tesla   Model X                   9
21854       2021          Yuba  Electric  Tesla   Model Y                  32

[1532 rows x 6 columns]

In [4]:
pop3 = pop2.groupby(["County","Data Year"]).sum().sort_values(by = 'Number of Vehicles', ascending = False)
pop3 = pop3.reset_index(inplace = False)

In [5]:
socal = ['Los Angeles','Orange','San Diego','Riverside','San Bernardino','Ventura','Santa Barbara','Kern','San Luis Obispo','Imperial']

In [6]:
pop4 = pop3[pop3['County'].isin(socal)]
pop4

             County  Data Year  Number of Vehicles
0       Los Angeles       2021               91539
1       Los Angeles       2020               61469
2            Orange       2021               50071
3       Los Angeles       2019               45370
5            Orange       2020               35124
..              ...        ...                 ...
533  San Bernardino       2010                   1
535  San Bernardino       2011                   1
540  San Bernardino       2012                   1
544            Kern       2010                   1
567            Kern       2011                   1

[117 rows x 3 columns]

In [7]:
pop4.to_csv(r'D:\class\UCI\Hackathon\dataset_clean.csv')